* {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    color: #264D73;
    font-size: 1.7rem;
      padding-top: 45px;
      margin-bottom: auto;
      margin-left: 40px;
  }
  h2 {
    text-align: center;
    color: darkslategray;
    font-size: 27px;
  }
  h3 {
    font-size: 1.2rem;
  }